extends layout.pug
  
block content

  .container(style="font-weight: bold; text-align: center;") 
    h1= "welcome to the IDF official website"
    p="Our website boasts robust security measures, ensuring protection against hacking attempts"
    
